<html>
<head>
<title>BLOG TALK </title>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "/css.*" %>

<%= stylesheet_link_tag "/fonts.*" %>  
</head>
    <body class="background">
    <div class="container">
    <h2> BLOG TALK </h2>
     <img src= '/blog.jpeg' alt="LOGO" align="right"/> 
     <img src= '/blog_man.jpeg' alt="LOGO" align="left" width="120px" height="100px"/> 
    </div>
    </body>
<%= yield %>
</body>
</html>

